*{
    padding:0;
    margin:0;

}

html{
    padding:0;
    margin:0;
}

body{
    background-color: darkcyan;

}
.contenedor{
    background: url("../media/image/background.png") no-repeat;
    background-size: contain;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: auto;
    width: 100% !important;
    height: 100vh;
}

.parrafo_justificado{
    text-align: justify;
}
.parrafo_centrado{
    text-align: center;
}

.mensaje{
    color: tomato;
    font-style: italic;
    font-weight: bold;
    text-align: center;
}
